
table {
  border-collapse: collapse;
  border-spacing: 1;
  
  
  
}
th,td{
	text-align:center;
	padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
	
}
th{
	background-color: #80ff00;
	color: white;
}


input[type=submit] {
	margin-top: 10px;
}