
.sams_allpage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg"); */
  background-size: cover;
  overflow: auto;
 
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.sams_menu {
  position: fixed;
  float:left;
  width:150px;
  height:100%;
  text-align:center;
 background-color:rgb(3,255,3);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}



