<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Attendance</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>attendance2715@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>attendance2715@gmail</param-value>
  </context-param>
  
  
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgot</display-name>
    <servlet-name>Forgot</servlet-name>
    <servlet-class>com.user.Forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot</servlet-name>
    <url-pattern>/forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.user.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Branch_Detail</display-name>
    <servlet-name>Branch_Detail</servlet-name>
    <servlet-class>com.user.Branch_Detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Branch_Detail</servlet-name>
    <url-pattern>/branchdtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentReg</display-name>
    <servlet-name>StudentReg</servlet-name>
    <servlet-class>com.user.StudentReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentReg</servlet-name>
    <url-pattern>/studentreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentMail</display-name>
    <servlet-name>StudentMail</servlet-name>
    <servlet-class>com.mail.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMail</servlet-name>
    <url-pattern>/studentmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllStudent</display-name>
    <servlet-name>ShowAllStudent</servlet-name>
    <servlet-class>com.user.ShowAllStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllStudent</servlet-name>
    <url-pattern>/showall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintReport</display-name>
    <servlet-name>PrintReport</servlet-name>
    <servlet-class>com.report.PrintReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintReport</servlet-name>
    <url-pattern>/printstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Daily_Result</display-name>
    <servlet-name>Daily_Report</servlet-name>
    <servlet-class>com.report.Daily_Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Daily_Report</servlet-name>
    <url-pattern>/daylyreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserType</display-name>
    <servlet-name>CheckUserType</servlet-name>
    <servlet-class>com.user.CheckUserType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserType</servlet-name>
    <url-pattern>/chk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBranch</display-name>
    <servlet-name>GetBranch</servlet-name>
    <servlet-class>com.branch.subject.GetBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranch</servlet-name>
    <url-pattern>/getbranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSub</display-name>
    <servlet-name>GetSub</servlet-name>
    <servlet-class>com.branch.subject.GetSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSub</servlet-name>
    <url-pattern>/getsub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ByRollNO</display-name>
    <servlet-name>ByRollNO</servlet-name>
    <servlet-class>com.result.ByRollNO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ByRollNO</servlet-name>
    <url-pattern>/byrollno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ByDate</display-name>
    <servlet-name>ByDate</servlet-name>
    <servlet-class>com.result.ByDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ByDate</servlet-name>
    <url-pattern>/dayres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Day_Report</display-name>
    <servlet-name>Day_Report</servlet-name>
    <servlet-class>com.report.Daily_Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Day_Report</servlet-name>
    <url-pattern>/dayreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Day_sheet</display-name>
    <servlet-name>Day_sheet</servlet-name>
    <servlet-class>com.report.DaySheet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Day_sheet</servlet-name>
    <url-pattern>/daysheet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Monthly_Report</display-name>
    <servlet-name>Monthly_Report</servlet-name>
    <servlet-class>com.report.Monthly_Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Monthly_Report</servlet-name>
    <url-pattern>/monthreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Month_Result</display-name>
    <servlet-name>Month_Result</servlet-name>
    <servlet-class>com.result.Month_Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Month_Result</servlet-name>
    <url-pattern>/monthres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sem_Report</display-name>
    <servlet-name>Sem_Report</servlet-name>
    <servlet-class>com.report.Sem_Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sem_Report</servlet-name>
    <url-pattern>/semreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sem_Result</display-name>
    <servlet-name>Sem_Result</servlet-name>
    <servlet-class>com.result.Sem_Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sem_Result</servlet-name>
    <url-pattern>/semresult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Take_Attendance</display-name>
    <servlet-name>Take_Attendance</servlet-name>
    <servlet-class>com.user.Take_Attendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Take_Attendance</servlet-name>
    <url-pattern>/attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DaySheet</display-name>
    <servlet-name>DaySheet</servlet-name>
    <servlet-class>com.report.DaySheet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaySheet</servlet-name>
    <url-pattern>/DaySheet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show_Status</display-name>
    <servlet-name>Show_Status</servlet-name>
    <servlet-class>com.report.ShowStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show_Status</servlet-name>
    <url-pattern>/showstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateStatus</display-name>
    <servlet-name>GenerateStatus</servlet-name>
    <servlet-class>com.report.GenerateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateStatus</servlet-name>
    <url-pattern>/genstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetainList</display-name>
    <servlet-name>DetainList</servlet-name>
    <servlet-class>com.detain.DetainList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetainList</servlet-name>
    <url-pattern>/detainlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.user.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/uploadsheet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OverAllStatus</display-name>
    <servlet-name>OverAllStatus</servlet-name>
    <servlet-class>com.report.OverAllStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OverAllStatus</servlet-name>
    <url-pattern>/showoverstatus</url-pattern>
  </servlet-mapping>
</web-app>